*{
    margin: 0;
    padding: 0;
}

body{
    background-color: green;
    text-align: center;
}

.container{
    height: 70vh;  /*  70% of viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game{
    height: 60vmin; /*  60% of container height */
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin; /*  18% of game height */
    width: 18vmin;
    border-radius: 20%;
    border: none;
    box-shadow: 0 0 1rem rgba(red, green, blue, 0.4);
    font-size: 8vmin;
    color: red;
}

.reset{
    font-size: 1.25rem;
    background-color: blue;
    border-radius: 1rem;
    height: 3rem;
    width: 5rem;
    color: black;
}

#win-btn{
    border-radius: 20%;
}

.hide{
    display: none;
}